version: "3.8"
services:
  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  ml-service:
    build: ./ml-service
    ports:
      - "5000:5000"
    depends_on:
      - mongo
  api:
    build: ./api
    ports:
      - "8000:8000"
    environment:
      - ML_URL=http://ml-service:5000
    depends_on:
      - ml-service
      - mongo
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - api
volumes:
  mongo-data:
